.login {
    height: 100%;
}

.login .title {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.login .content {
    text-align: justify;
    padding-left: 3vw;
    padding-right: 3vw;
}

.login .form {
    padding-top: 2vw;
    padding-left: 30vw;
    padding-right: 30vw;
}

.login .alert {
    width: 100%;
    position: relative;
}

.login .alert .content {
    position: relative;
    margin: 0.5vw;
    padding: 1%;
    max-width: 50vw;
    left: 50%;
    transform: translate(-50%, 0);
}