.article .title {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.article .content {
    word-break: break-all;
    text-align: justify;
    padding-left: 15vw;
    padding-right: 15vw;
}

.article .infos {
    padding-top: 2%;
    font-size: 1.5vh;
}